.alert.alert-danger ng-if="error"
  h2 
    b
      | Oh snap! 
    span
      | Supply you're looking for doesn't exist.
  p
    | Get a quick look at other goods from our 
    a href="/"
      | Supplies.

.content ng-if="!error"

  ol.breadcrumb
    li
      a href="/" Supplies
    li.active
      | {{supply.id}}

  .row
    .col-md-4.col-xs-12
      img.img-rounded alt="..." src="http://fama-kiev.com/Media/pic/defaultImage.png" width="100%" /
    .col-md-8.col-xs-12
      h2
        | {{supply.name}}
      h3 
        | {{supply.price}} $
      .well 
        | {{supply.description}}
      a.btn-primary href="#"
        Buy



