.jumbotron
  h1 Internet MarketPlace
  p Check Out our best proposals below.

.row
  .col-xs-6.col-md-3 ng-repeat=("supply in supplies") 
    .thumbnail
      img alt="Default image" src="http://fama-kiev.com/Media/pic/defaultImage.png"
      span.price
          | {{supply.price}} $
      .caption
        h3
          | {{supply.name}}
        p
          a.btn.btn-default href="/supplies/{{supply.slug}}" role="button"  View details

.text-center
  uib-pagination ng-change="pageChanged()" ng-model="currentPage" total-items="totalItems" items-per-page="5" max-size="5"




