/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-sass
 */

body
  padding-top: 5px

.well 
  margin-top: 25px
  font-size: 1.2em

footer
  text-align: center
  padding: 40px 0


.price 
  position: absolute
  width: auto
  display: inline-block
  background: lighten(#FBCC37, 10)
  right: 20px
  top: 227.5px
  height: 30px
  vertical-align: middle
  line-height: 30px
  padding: 0 10px
  font-size: 1.2em
